<div class="container">
    <h2>Welcome {{name}} you are Admin</h2>
     <div id="mainNav">
        <ul>
            <li>User List</li>
            <li>Product Lists</li>
            <li>Create New Product</li>
           
        </ul>

        {{#each }}
    </div>
</div>