<div class="container">
    <div class="form">
  <h2>Sign Up</h2>
  <div id="form">
  <form action="/signup" method="POST">
 
    <label> Email
      <input type="text" name="email" placeholder="Email" />
    </label>
 
    <label> Password
      <input type="password" name="password" placeholder="********" />
    </label>
 
    <button type="submit">Sign Up</button>
 
    {{!-- error message will be added here --}}
  </form>
  </div>
</div>