
<div class="container">
<div id="form">
  <h2>Signup</h2>
  <form action="/signup" method="POST">
    <label>Email
      <input name="email" placeholder="
      {{!-- {{#if email}}
      {{email}}
      {{/if}} --}}
      enter your email" required />
    </label>
    <label>Password
      <input type="password" name="password" placeholder="*****" class="form-control"required />
    </label>
    <label>Name
      <input type="text" name="name" placeholder="Name" class="form-control" required />
    </label>
        <label>Do you consent to receive marketing
      <select id="consent" name="consent" class="form-control">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        </select>
    </label>
    <button type="submit" class="btn btn-primary">Create Account</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
    {{#if newUserMessage}}
      <p>{{newUserMessage}}</p>
    {{/if}}
  </form>
</div>
</div>