<div class="container">
    
    <h2>Welcome {{userInSession.name}} you are an Admin</h2>
     <div id="adminNav">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/admin">Admin Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin/users">See All Users</a></li>
            <li class="nav-item"><a class="nav-link"href="/admin/all-products">Product List</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin/create-product">Create New Product</a></li>
           
        </ul>
    </div>

</div>