<div class="container">
    
    <h2>Welcome {{name}} you are Admin</h2>
     <div id="adminNav">
        <ul>
            <li><a href="/admin/users">see all users</a></li>
            <li><a href="/admin/all-products">product list</a></li>
            <li><a href="/admin/create-product">create new product</a></li>
           
        </ul>
    </div>

</div>