<div class="container">
    
    <h2>Welcome {{name}} you are Admin</h2>
     <div id="adminNav">
        <ul>
            <li>User List</li>
            <li><a href="/admin/all-products">Product List</a></li>
            <li><a href="/admin/create-product">Create New Product</a></li>
           
        </ul>
    </div>

</div>