<div class="containter">

<h1>All Products</h1>
<div class="allProducts">


{{#each allProducts}}
<div class="card" style="width: 18rem;">
  <img src="{{images}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{productName}}</h5>
    <p class="card-text">{{price}}</p>
    <a href="/admin/{{_id}}" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{{/each}}
</div>
