<div class="container">
      <h1>Change Password</h1>
             <div id="profileNav">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" href="/profile">My Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="/profile/favourites">Favourites</a> </li>
            <li class="nav-item"><a class="nav-link" href="/profile/edit-details">Edit Personal Information</a> </li>
     </ul>
    </div>
  <div id="form">

    <form action="/profile/forgot-password" method="POST">
      <label>Current Password
        <input type="password" name="currentPassword"  required />
      </label>
      <label>Enter Your New Password
        <input type="password" name="newPasswordFirst" required />
      </label>
      <label>Re-enter Your New Password
        <input type="password" name="newPasswordSecond" required />
      </label>
      <button type="submit" class="btn btn-primary">Update Password</button>
            {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>
</div>