<div class="container">
  <div id="form">
    <h2>Edit Details</h2>
    <form action="/profile/edit-details" method="POST">
      <label>Email
        <input
          name="email"
          placeholder="
    
      enter your email"
          value="{{currentUser.email}}"
          required
        />
        <label>Name
          <input
            value="{{currentUser.name}}"
            type="text"
            name="name"
            class="form-control"
            required
          />
        </label>
        <label>Do you consent to receive marketing
          <select id="consent" name="consent" class="form-control">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </label>
      </label>
     <a href="/profile/change-password">Change Password</a>
      <button type="submit" class="btn btn-primary">Update Details</button>

      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
      {{#if newUserMessage}}
        <p>{{newUserMessage}}</p>
      {{/if}}
    </form>
  </div>
</div>