<div class="container">
<h1>Welcome {{userInSession.username}}</h1>
     <div id="mainNav">
        <ul>
            <li>My Profile</li>
            <li>Edit Personal Information</li>
            <li>Favourites</li>
            <li class="warning">Delete</li>
        </ul>
    </div>
</div>