<div class="container">
<div class="profile">
<h1>Welcome {{userInSession.name}}</h1>
     <div id="profileNav">
        <ul>
            <li>My Profile</li>
            <li>Edit Personal Information</li>
            <li>Favourites</li>
            <li class="warning">Delete</li>
        </ul>
    </div>
    <div>
        <p>Name: {{userInSession.name}}</p>
        <p>Email: {{userInSession.email}}</p>
        <p>Marketing: {{userInSession.consent}}</p>
    </div>
    </div>

</div>

</div>