<div class="container">
<div class="profile">
<h1>Welcome {{userInSession.name}}</h1>
     <div id="profileNav">
        <ul>
            <li> <a href="/profile/edit-details">Edit Personal Information</a> </li>
            <li> <a href="/profile/favourites">Favourites</a> </li>
            <form method="POST" action="/profile/delete">
<button class="warning" type="submit">delete my account</button>
</form>
        </ul>
    </div>
    <div>
        <p>Name: {{userInSession.name}}</p>
        <p>Email: {{userInSession.email}}</p>
        <p>Marketing: {{userInSession.consent}}</p>
    </div>
    </div>

</div>

</div>