<div id="content">
    <div id="imageRotate">
        <h1>Product Focus</h1>
        <div id="carousel">
<img src="/images/products/acoustic guitars/Martin-D28.jpeg">
<img src="/images/products/acoustic guitars/Martin-D28.jpeg">

        </div>
    </div>
</div>
