<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>
<div id="header">
    <div id="logo"><h1>Guitar Shop</h1></div>
    <div id="topNav">
        <ul>
            <li>Sign Up</li>
            <li>Login</li>
            <li>My Profile</li>
        </ul>
    </div>
</div>
    
<div id="navSection">
    <div id="mainNav">
        <ul>
            <li>Home</li>
            <li>All Products</li>
            <li>Acoustic Guitars</li>
            <li>Bass Guitars</li>
            <li>Electric Guitars</li>
            <li>Pedals</li>
            <li>Amps</li>
        </ul>
    </div>
</div>

      {{{body}}}

<footer>
    <div id="copyright">
        GuitarShop Copyright 2022-2023
        <br />Omar ali
        <br />Craig Butler
    </div>
    <div id="bottomNav">
        <h2>Products</h2>
        <ul>
            <li>All Products</li>
            <li>Acoustic Guitars</li>
            <li>Bass Guitars</li>
            <li>Electric Guitars</li>
            <li>Pedals</li>
            <li>Amps</li>
        </ul>
    </div>
    <div id="contact">
        <p>Email@email.com</p>
        <p>1 Fake Street, London, E1 1AA</p>
    </div>
</footer>      

      <script src="/js/script.js"></script>
   </body>

</html>