body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
  background-color: aquamarine;
}

#navSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #00b7ff;
}

#logo {
  padding-left: 20px;

}

#topNav a {
  text-decoration: none;
  color: black;
  
}

#bottomNav ul{
  list-style:none;
  padding-left: 0;

}

#topNav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#mainNav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;

}

#mainNav li {
  border: 1px;
  border-style: solid;
  background-color: blueviolet;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

#mainNav a {
  text-decoration: none;
  color: black;
}



#imageRotate {
  display: flex;
  flex-direction: row;
}

#carousel {
  width: 75vw;
}

#carousel img {
  width: 500px;
}

.warning {
  color: red;
}

#form form{
  display: flex;
  flex-direction: column;
  width: 25vw;
  
}

#form input {
  width:100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}


