body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
  background-color: aquamarine;
}

#navSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #00b7ff;
}

#logo {
  padding-left: 20px;

}

#topNav {
  
}

#topNav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#mainNav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#imageRotate {
  display: flex;
  flex-direction: row;
}

#carousel {
  width: 75vw;
}

#carousel img {
  width: 500px;
}

#warning {
  color: red;
}

